@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-gray-500 relative;
    @apply sm:text-lg xl:text-xl;
  }

  p {
    @apply tracking-normal leading-tight;
  }

  a {
    @apply cursor-pointer;
  }
}

@layer components {
  .headroom {
    @apply bg-transparent w-full shadow-lg z-50;
  }

  .headroom-bg::before {
    @apply bg-white h-full w-full absolute overflow-hidden;
    transform: scale(1.2);
    filter: blur(8px) opacity(80%);
    content: "";
    z-index: -1;
  }

  .container {
    @apply w-full max-w-7xl px-4 md:px-8 mx-auto;
  }

  .title {
    @apply font-sans font-bold tracking-tight text-black;
  }

  .subtitle {
    @apply font-sans font-medium tracking-tight;
  }

  .h1 {
    @apply text-5xl sm:text-6xl lg:text-7xl xl:text-8xl;
  }

  .h2 {
    @apply text-3xl sm:text-4xl lg:text-5xl;
  }

  .h3 {
    @apply text-2xl sm:text-3xl lg:text-4xl;
  }

  .h4 {
    @apply text-xl sm:text-2xl lg:text-3xl;
  }

  .h5 {
    @apply text-lg sm:text-xl lg:text-2xl;
  }

  .h6 {
    @apply text-base sm:text-lg lg:text-xl;
  }

  .text-glow {
    text-shadow: 0 0 4rem rgb(192 219 255 / 30%), 0 0 1rem rgb(167 139 250 / 30%);
  }

  :root {
    --solana-green: rgb(20, 241, 149);
    --solana-green-light: rgba(20, 241, 149, 0.2);
  }

  .bg-solana {
    background: linear-gradient(270deg, rgb(171, 102, 255) 0%, var(--solana-green) 101.39%)
  }

  .text-solana {
    background: -webkit-linear-gradient(0deg, rgb(171, 102, 255) 0%, var(--solana-green) 101.39%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg-green-sol-variant {
    background-color: transparent;
    background-image: linear-gradient(0deg, #fff 0%, var(--solana-green-light) 74%);
  }

  .bg-green-variant {
    background-color: transparent;
    background-image: linear-gradient(315deg, rgba(255,255,255,0.1) 0%, var(--solana-green-light) 74%);
  }

  .bg-green-variant-circle {
    background-color: transparent;
    background-image: radial-gradient(circle, var(--solana-green-light) 0%, #fff 60%);
  }
}

@layer utilities {}

/* *::-webkit-scrollbar {
  display: none;
} */

.bg-base {
  @apply relative overflow-hidden bg-transparent;
}

.bg-base::before {
  @apply h-full w-full absolute overflow-hidden;
  content: "";
  background-size: cover;
  background-position: center;
  z-index: -1;
  transform: scale(1.1);
}

.bg-blur {
  @apply bg-base;
}

.bg-blur::before {
  filter: blur(30px);
}

.bg-forest-1::before {
  background-image: url(../assets/backgrounds/forest-1.jpeg);
}
.bg-forest-2::before {
  background-image: url(../assets/backgrounds/forest-2.jpeg);
}
.bg-forest-3::before {
  background-image: url(../assets/backgrounds/forest-3.jpeg);
}
.bg-forest-3-reversed::before {
  background-image: url(../assets/backgrounds/forest-3-reversed.png);
}
.bg-forest-4::before {
  background-image: url(../assets/backgrounds/forest-4.jpeg);
}



